<h3>Trainer</h3>
<p>Name: <%= @trainer.name if @trainer.name %></p>
<p>Email: <%= @trainer.email if @trainer.email %></p>
Pokemon: <% @trainer.pokemons.each do |pokemon| %>
   <p><b>Name:</b> <%= pokemon.name %> | <b>Level: </b> <%= pokemon.level %> | <b>Health: </b> <%= pokemon.health %></p>
<%= button_to "Damage!", damage_path(id: pokemon), :class => "button small", :method => :patch %>
<%= button_to "Create!", new_path, :class => "button medium", :method => :get if @trainer == current_trainer %>

  <% end %>
